body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #667eea, #764ba2, #e684ae);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    background: rgba(0, 0, 0, 0.35);
    width: 100%;
    color: white;
    text-align: center;
    padding: 25px 0;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
    backdrop-filter: blur(12px);
}

#uploadBox {
    margin-top: 30px;
    padding: 20px;
    background: rgba(255,255,255,0.15);
    border-radius: 12px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    text-align: center;
}

input[type="file"] {
    padding: 10px;
    border-radius: 10px;
    background: white;
    cursor: pointer;
}

#gallery {
    margin-top: 30px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.img-card {
    background: rgba(255,255,255,0.15);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.4);
    transition: 0.3s;
    backdrop-filter: blur(12px);
    position: relative;
}

.img-card:hover {
    transform: scale(1.06);
}

.img-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.delete-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: red;
    border: none;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
}

.img-card:hover .delete-btn {
    opacity: 1;
}
